@model BarberSaloon.Models.Service

<h2>Yeni Servis Ekle</h2>

<form asp-action="AddService" method="post">
    <div class="form-group">
        <label for="ServiceName">Servis Adı</label>
        <input asp-for="ServiceName" class="form-control" />
        <span asp-validation-for="ServiceName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ServiceDuration">Servis Süresi (dk)</label>
        <select asp-for="ServiceDuration" class="form-control">
            <option value="30">30</option>
            <option value="60">60</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ServicePrice">Servis Ücreti (TL)</label>
        <input asp-for="ServicePrice" type="number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Geri Dön</a>
</form>